@import '../../styles/lib.less';

.blog-post-tag-label {
    margin-bottom: 0 !important;
    margin-left  : 0.5rem !important;
    margin-right : 0rem !important;
    cursor       : default;
    user-select  : none;
    z-index      : 100;
}

.blog-post-tag-label-group {
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;
    z-index        : 100;
    margin-top     : 20px;
    margin-bottom  : 15px;
    margin-right   : 0.75rem;
}

.blog-post-card-content {
    font-size : 1rem !important;
    text-align: justify;
}

.blog-post-title {
    color         : @primaryFontColorDark;
    font-size     : 20px;
    line-height   : 22px;
    font-weight   : 600;
    letter-spacing: -0.025em;
    margin-bottom : 15px !important;
}

.blog-post-card-date>p {
    color         : #9F9F9F;
    font-size     : 12px;
    line-height   : 13px;
    letter-spacing: -0.025em;
}

.blog-post-card-image {
    height: 150px;
}