.rtt-areas-card-background {
    background-size: cover;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
}

.rounded-corners-top, .rounded-corners-top img {
    border-top-left-radius: .5rem!important;
    border-top-right-radius: .5rem!important;
}

.rtt-areas-card-background-text-wrapper {
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    text-align: left;
    word-break: break-word;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    .rtt-areas-card-background-text {
        z-index: 10;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 1.75rem !important;
        color: white;
        font-weight: 700;
    }
}


.center-cropped {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 300px;
    width: 100%;
}

.blog-post-tag-label {
    margin-bottom: 0 !important;
    margin-left: 0.5rem !important;
    margin-right: 0rem !important;
    cursor: default;
    user-select: none;
    z-index: 100;
}

.blog-post-tag-transparent {
    background: transparent !important;
    color: white !important;
    border: 1px solid white !important;
    display: flex !important;
    align-items: center;
}

.blog-post-tag-label-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 100;
    margin-top: 0.75rem;
    margin-right: 0.75rem;
}

.blog-post-card-content {
    font-size: 1rem !important;
    text-align: justify;
}
