@import '../../semantic/site/globals/site.variables';
@import '../../styles/lib.less';

.header-overlay {
  position       : relative;
  height         : 900px;
  max-height     : 100vh;
  width          : 100% !important;
  display        : flex;
  justify-content: center;
}

.header-overlay-blog {
  position       : relative;
  height         : 750px;
  max-height     : 90vh;
  width          : 100% !important;
  display        : flex;
  justify-content: center;
}

@media @mobile {
  .header-overlay-blog {
    max-height: 70vh !important;
  }
}

.header-overlay-blog-post {
  position       : relative;
  height         : 500px;
  width          : 100% !important;
  display        : flex;
  justify-content: center;

  .header-overlay-headline {
    font-size  : 40px;
    line-height: 53px;
  }

  @media @mobile {
    .header-overlay-headline {
      font-size    : 28px;
      line-height  : 40px;
      margin-bottom: 1rem;
    }

  }
}

.dark-overlay-blog {
  opacity         : 1 !important;
  background-color: rgba(0, 6, 30, 0.45);
}

.dark-overlay-blog::after {
  position        : absolute;
  left            : 0;
  content         : '';
  right           : 0;
  top             : 0;
  bottom          : 0;
  opacity         : 1 !important;
  background-color: rgba(0, 6, 30, 0.45);
}

.swiper-container-full {
  .dark-overlay-blog {
    cursor          : pointer;
    opacity         : 1 !important;
    background-color: rgba(0, 6, 30, 0.3);
    transition      : background-color 0.5s ease;
  }

  .header-overlay-blog:hover {
    .dark-overlay-blog {
      background-color: rgba(0, 6, 30, 0.75) !important;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color        : #fff !important;
  background   : rgba(255, 255, 255, 0.2) !important;
  padding      : 35px !important;
  border-radius: 100% !important;
}



.swiper-container-full:hover {

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 20px !important;
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 20px !important;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  transition: 0.5s ease;
  left      : -70px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  transition: 0.5s ease;
  right     : -70px;
}

@media @mobile {
  .header-overlay {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
}

.header-overlay-container {
  height         : 100%;
  word-break     : break-word;
  display        : flex !important;
  justify-content: center;
  z-index        : 10;

  div {
    z-index: 10;
  }
}

.header-overlay-container-absolute {
  position: absolute;
  z-index : 10000;
  left    : 0;
  right   : 0;
}

.header-overlay-container-blog {
  height  : 100% !important;
  position: absolute;
  top     : 0;
  left    : 0;
  right   : 0;
}

.header-overlay-container-blog-post {
  height: 100% !important;

  .header-overlay-container-desktop-blog-post {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    padding        : 50px 50px;
  }
}

.header-overlay-center-cropped {
  position           : absolute !important;
  width              : 100%;
  height             : 100%;
  top                : 0;
  left               : 0;
  background-repeat  : no-repeat;
  background-position: center center !important;
  background-size    : cover;
  opacity            : 1;
}

.center-top {
  img {
    object-position: top;
  }
}

.header-overlay-image-wrapper {
  display: flex;
  height : 100%;
  width  : 100%;
}

.header-overlay-container-desktop {
  display       : flex;
  align-self    : center;
  text-align    : left;
  width         : 100%;
  padding-bottom: 2rem;
}

.header-overlay-container-desktop-blog {
  display      : flex;
  align-self   : flex-end;
  text-align   : center;
  width        : 100%;
  margin-bottom: 3rem !important;
}

.header-overlay-container-desktop-blog-post {
  display        : flex;
  align-self     : flex-end;
  justify-content: space-between;
  text-align     : left;
  width          : 100%;
  height         : 100%;
}

.header-overlay-container-mobile {
  display   : flex;
  align-self: center;
  text-align: left;
  width     : 100%;

  .column {
    padding: 0 !important;
  }
}

.header-overlay-container-mobile-top {
  display        : flex;
  align-self     : flex-start;
  margin-top     : 85px;
  text-align     : center;
  width          : 100%;
  justify-content: center;
}

.header-overlay-headline {
  letter-spacing: 0em;
  font-size     : 42px;
  line-height   : 56px;
  font-weight   : 700;
  white-space   : pre-line;
  color         : @primaryColor;
}

.header-overlay-subheadline {
  margin-top   : 0.5rem;
  font-weight  : 400;
  font-size    : 1.25rem;
  line-height  : 1.75rem;
  margin-bottom: 1rem;
}

.header-overlay-headline-inverted {
  color      : #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

.header-overlay-subheadline-inverted {
  color      : #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

@media @mobile {
  .header-overlay-headline {
    font-size    : 27px;
    line-height  : 40px;
    margin-bottom: 0.5rem;
  }

  .header-overlay-subheadline {
    margin-top : 0.5rem;
    font-weight: 400;
    font-size  : 1.2rem;
    line-height: 1.5rem;
  }
}

.header-overlay-svg {
  position: absolute;
  z-index : 1000;
  bottom  : -1px;
  left    : 0;
}

.header-overlay-container-flexend {
  height         : 80% !important;
  justify-content: flex-end !important;
  position       : absolute;
  top            : 0;
  left           : 0;
  right          : 0;

  .header-overlay-container-desktop {
    align-self: flex-end !important;
  }
}

.header-overlay-container-background {
  position: absolute;
  top     : 0;
  left    : 0;
  right   : 0;
}

.justifyContentEnd {
  justify-content: flex-end;
}