.header-overlay {
  position       : relative;
  height         : 850px;
  width          : 100% !important;
  display        : flex;
  justify-content: center;

  video {
    width      : 100%;
    object-fit : cover;
    padding-top: 59px;
  }

  @media only screen and (max-width: 767px) {
    video {
      padding-top: 45px;
    }
  }
}

.header-overlay-video {
  background-color: #000;
}

@media only screen and (max-width: 767px) {
  .header-overlay {
    /*  height: calc(100vh - 64px); */
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  }
}