@import '../../styles/lib.less';

.logo-container {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

@media @desktop {

    img {
        height: 60px;
        width: 80px;
    }

    svg {
        height: 60px;
        width: 80px;
    }
}

@media @mobile {

    img {
    height: 48px;
    width: 64px;
    }

    svg {
    height: 48px;
    width: 64px;
        margin-bottom: -5px;

    }

}