@import '../../styles/lib.less';

@transition-duration : 0.3s;
@filtersysteme-width : 490px;
@filtersysteme-height: 320px;

.flex-container {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  height        : 100%;
}

.global-navbar-mobile-menu {
  height          : 52px;
  top             : -2px !important;
  margin-top      : 0px !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-top      : none !important;
  border-left     : none !important;
  border-right    : none !important;
  border-bottom   : solid 1px rgba(0, 0, 0, 0.16);
}

@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  .global-navbar-mobile-menu {
    background-color       : rgba(255, 255, 255, 0.72) !important;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter        : saturate(180%) blur(20px) !important;
  }
}

.global-navbar-mobile-menu {
  height          : 52px;
  top             : -2px !important;
  margin-top      : 0px !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-top      : none !important;
  border-left     : none !important;
  border-right    : none !important;
  border-bottom   : solid 1px rgba(0, 0, 0, 0.16);
}

@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  .global-navbar-mobile-menu {
    background-color       : rgba(255, 255, 255, 0.72) !important;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter        : saturate(180%) blur(20px) !important;
  }
}

#header {
  z-index: 9999999;
}

.nav-popover {
  position        : absolute;
  left            : 0;
  right           : 0;
  top             : 67px;
  opacity         : 0;
  transform-origin: center -20px;
  transform       : rotateX(-90deg);
  transition      :
    transform @transition-duration,
    opacity @transition-duration;
  display: inline-block;
}

.nav-popover.open {
  opacity  : 1;
  transform: rotateX(0);
}

.arrow {
  position     : absolute;
  top          : -6px;
  left         : 0;
  width        : 12px;
  height       : 12px;
  margin-left  : -6px;
  background   : white;
  box-shadow   : -3px -3px 5px rgba(80, 90, 120, 0.05);
  border-radius: 4px 0 0 0;
  transform    : rotate(45deg);
  transition   :
    transform @transition-duration,
    opacity @transition-duration;
  will-change: transform;
}

.background {
  position     : absolute;
  top          : 0;
  left         : 0;
  width        : @filtersysteme-width;
  height       : @filtersysteme-height;
  padding      : 16px 32px;
  background   : white;
  border-radius: 6px;
  box-shadow   :
    0 50px 100px -20px rgba(50, 50, 93, .25),
    0 30px 60px -30px rgba(0, 0, 0, .3);
  transform-origin: 0 0;
  transition      :
    transform @transition-duration,
    opacity @transition-duration;
}

.popover-content {
  position: absolute;
  overflow: hidden;
  z-index : 1;
  top     : -10px;
  left    : 0;
  transition:
    transform @transition-duration,
    opacity @transition-duration;
}

.section {
  position  : absolute;
  opacity   : 0;
  transition: opacity 0.2s;
  overflow  : hidden;
}

.section.section-active {
  opacity: 1;
}

.section-Filtersysteme {
  width   : 100%;
  height  : 100%;
  position: relative;
}

.navlist-primary {
  padding: 0;
}

.navlist-primary li {
  padding   : 1rem 1rem;
  cursor    : pointer;
  width     : 100%;
  word-break: break-word;

}

.two-col {
  display              : grid;
  grid-template-columns: 60px 1fr;
  grid-column-gap      : 0.5rem;
}

.two-col:hover {
  background: #eff9fd;
}

.navlist-circle {
  flex           : 0 0 48px;
  width          : 48px;
  height         : 48px;
  border-radius  : 50%;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.navlist-circle>svg {
  height: 25px;
  width : 25px;
}

.navlist-primary-entry {
  .icon-filtersysteme {
    opacity            : 0;
    transition-property: opacity;
    transition         : 0.15s ease;
  }

  svg {
    height: 28px;
    width : 28px;
  }

  h4 {
    color      : @primaryColor;
    display    : flex;
    align-items: center;
  }
}

.navlist-primary-entry:hover {
  .icon-filtersysteme {
    opacity: 1;
  }


}

.navlist-menu-entry:hover {
  p {
    color: @primaryFontColorDark;
  }
}



.navlist-primary-bag h4 {
  color: @extraColor1;
}

.navlist-primary-cube h4 {
  color: @extraColor2;
}

.navlist-primary-system h4 {
  color: @extraColor3;
}

.navlist-primary-bag .navlist-circle {
  background: @extraColor1;
}

.navlist-primary-cube .navlist-circle {
  background: @extraColor2;
}

.navlist-primary-system .navlist-circle {
  background: @extraColor3;
}

.test-css {
  display       : flex;
  flex-direction: row;
}

.navlist-primary h4 {
  margin-bottom : 2px;
  line-height   : 22px;
  letter-spacing: 0.025em;
  font-weight   : 600;
}

.navlist-primary p {
  font-size  : 14px;
  line-height: 22px;
  color      : #7b8ca3;
  transition : 0.25s ease;
}

.burger-menu {
  background-color: transparent;
  border          : none;
  cursor          : pointer;
  display         : flex;
  padding         : 0;
  height          : 34px;
  width           : 34px;
  outline         : none;
}

.line {
  fill        : none;
  stroke      : @primaryFontColorDark;
  stroke-width: 6;
  transition  : stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width    : 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width    : 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width    : 6;
}

.opened .line1 {
  stroke-dasharray : 90 207;
  stroke-dashoffset: -134;
  stroke-width     : 6;
}

.opened .line2 {
  stroke-dasharray : 1 60;
  stroke-dashoffset: -30;
  stroke-width     : 6;
}

.opened .line3 {
  stroke-dasharray : 90 207;
  stroke-dashoffset: -134;
  stroke-width     : 6;
}