.blog-post-card-wrapper {
    margin-bottom: 2rem;
}

.swiper-container-full {
    width: 100% !important;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    cursor        : pointer !important;
    pointer-events: inherit !important;
}