@import '../styles/lib.less';

@media @mobile {
    .main-overlay-content {
        margin-left   : -5px;
        margin-right  : -5px;
        display       : flex;
        flex-direction: column;
        align-items   : center;
    }
}

.main-overlay-content {

    h1 {
        font-style    : normal;
        font-weight   : normal;
        font-size     : 72px;
        line-height   : 94px;
        letter-spacing: -0.05em;
        color         : @primaryColor;
        margin-bottom : 0;
    }

    h2 {
        margin-top : 0;
        font-style : normal;
        color      : @primaryFontColorBright;
        font-weight: 500;
        font-size  : 48px;
        line-height: 63px;
    }

    p {
        font-style : normal;
        font-weight: normal;
        font-size  : 18px;
        line-height: 23px;
        color      : @primaryFontColorBright;
    }

    .wewater-description-mobile {
        display   : none;
        visibility: hidden;
    }

    .wewater-description-desktop {
        display   : block;
        visibility: visible;
    }

    @media @mobile {

        h1 {
            display   : none;
            visibility: hidden;
        }

        h2 {
            font-weight   : 600;
            font-size     : 46px;
            line-height   : 52px;
            text-align    : center;
            letter-spacing: -0.05em;
        }

        p {
            font-weight   : 500;
            font-size     : 19px;
            line-height   : 25px;
            text-align    : center;
            letter-spacing: -0.03em;
        }

        .wewater-description-mobile {
            display   : block;
            visibility: visible;
        }

        .wewater-description-desktop {
            display   : none;
            visibility: hidden;
        }

        .wewater-mobile-logo {
            height          : 76px;
            width           : 76px;
            background-color: #FFFFFF;
            display         : flex;
            justify-content : center;
            align-items     : center;
            margin-bottom   : 16px;
        }

        #wewater-mobile-logo-svg {
            height: 55px;
            width : 55px;
        }
    }

    .main-overlay-infobox {
        user-select     : none;
        display         : inline-flex;
        flex-direction  : column;
        padding         : 25px;
        background-color: rgba(0, 13, 18, 0.15) !important;

        .main-overlay-infobox-text {
            margin-bottom: 0px;
        }

        div {
            display       : flex;
            flex-direction: row;
            align-items   : baseline;
        }

        h3 {
            color        : @primaryFontColorBright;
            font-size    : 64px;
            line-height  : 84px;
            font-weight  : 500;
            margin-bottom: 0;
            margin-right : 0.5rem;
            width        : 200px;
        }

        p {
            font-size    : 18px;
            font-weight  : 300;
            margin-bottom: 2rem;
        }
    }
}