.shop-card-background {
    background-size: contain;
    overflow       : hidden;
    height         : 100%;
    cursor         : pointer;
}

.rounded-corners-top,
.rounded-corners-top img {
    border-top-left-radius : .5rem !important;
    border-top-right-radius: .5rem !important;
}

.shop-card-background-text-wrapper {
    padding-top    : 10rem;
    padding-bottom : 10rem;
    display        : flex;
    justify-content: center;
    text-align     : left;
    word-break     : break-word;
    padding-left   : 0.5rem;
    padding-right  : 0.5rem;

    .shop-card-background-text {
        z-index       : 10;
        text-shadow   : 2px 2px 2px rgb(0 0 0 / 10%);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size     : 18px;
        color         : white;
        font-weight   : 700;
        position      : absolute;
        top           : 2rem;
        left          : 1rem;
        background    : #5ABEE6;
        padding       : 0.5rem;
        border-radius : 25px;
    }
}

.shop-card-content {
    margin-top: 0.5rem;

    .shop-price-wrapper {
        display       : flex;
        flex-direction: row;
    }

    h3 {
        font-size    : 16px;
        overflow     : hidden;
        text-overflow: ellipsis;
        white-space  : nowrap;
        margin-bottom: 0.5rem;
    }

    p {
        font-size  : 18px;
        font-weight: 600;
    }

    .shop-regular-price {
        font-weight    : 400;
        text-decoration: line-through;
        margin-right   : 0.5rem;
        margin-bottom  : 0;
    }
}