.swiper-container {
    width         : 95%;
    height        : 100%;
    /*this gives the dimension of slider container*/
    /*these values will make the container as big as the parent div*/
    overflow      : hidden;
    /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
    padding-bottom: 0rem;
}

.swiper-container .swiper-wrapper {
    padding-bottom: 5rem !important;
    padding-top   : 0.5rem !important;
}

.swiper-slide {
    height: 100%;
}

.main-button-container {
    margin-top: 2rem;
}