@import '../../../semantic/site/globals/site.variables';
@import '../../../styles/lib.less';

.woo-menu-cart-icon {
  display   : inline-block;
  border    : 0;
  background: transparent;
  cursor    : pointer;

  svg {
    height: 28px;
    width : 28px;
  }
}

.woo-menu-cart-icon:focus {
  outline: 0;
}

.woo-next-cart-price {
  color  : #fff;
  display: none;
}

.woo-next-cart-icon-container {
  position: relative;
}

.woo-next-cart-count {
  top             : -9px;
  left            : 22px;
  padding-left    : 5px;
  padding-right   : 5px;
  line-height     : 16px;
  color           : #fff;
  min-height      : 16px;
  font-weight     : 700;
  border-radius   : 50%;
  background-color: @primaryColor;
  position        : absolute;
}

.woo-next-view-cart-btn {
  margin-left: 10px;
}

@media @desktopLarge {
  .cart-text {
    visibility: visible !important;
    display   : block !important;
  }
}

.cart-text {
  visibility: hidden;
  display   : none;
}

.cart-wrapper {
  position      : relative;
  display       : flex;
  flex-direction: row;
  align-items   : flex-end;
}